<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.persistence.EmpMapper">
    <select id="selectTrip" resultType="java.util.Map">
        SELECT list
        FROM trip
    </select>
    <insert id="insertTrip" parameterType="com.db.TripDto">
    	<selectKey keyProperty="num" resultType="java.lang.Integer" order="BEFORE">
    		select seq_trip.nextval from dual
    	</selectKey>
    	insert into trip(num, list, regdate)
    	values(#{num}, #{list}, sysdate)
    </insert>
    <delete id="deleteTrip" parameterType="int">
    	delete from trip
    	where num = #{num}
    </delete>
</mapper>
